
mat-card{
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0px;
}

mat-card-header {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 2.5rem;
}

mat-card-header img {
  width: 20rem; 
  height: 100%;
  object-fit: cover;
}

mat-card-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
}

mat-form-field{
  width: 100%;
  margin-bottom: 0.5rem;
}

mat-card-content button{
  width: 100%;
  border-radius: 0px;
}

