<div class="gestion-container">
  @if(isPermissionChecked){
    <mat-card class="header-container" >
      @if(!hasCameraPermission){
        <button mat-flat-button (click)="checkCameraAccess()">Permitir cámara</button>
      }@else {
        <h2>Escanea el código QR</h2>
      }
    </mat-card>
  }
  <mat-card class="cam-container">
    <ngx-scanner-qrcode 
      #action="scanner" 
      [config]="config" 
      [canvasStyles]="[
        { lineWidth: 2, strokeStyle: 'black', fillStyle: '#00FF0000 ' },
      ]"
      [class.hide]="!action.isStart"
      (event)="onScanData($event)"
    >
    </ngx-scanner-qrcode>
  </mat-card>
</div>




