<mat-grid-list [cols]="isMobile() ? '1' : '4'" rowHeight="200px" gutterSize="40px">
  @for(categoria of categorias(); track categoria.id_categoria){
    <mat-grid-tile>
      <mat-card class="categoria-container mat-elevation-z1">
        <div class="categoria-img">
          <mat-icon>question_mark</mat-icon>
        </div>
        <div class="categoria-content">
          <mat-card-title>{{categoria.nombre_categoria}}</mat-card-title>
          <button mat-flat-button (click)="onPrestar(categoria.id_categoria)">Prestar</button>
          <button mat-flat-button>Devolver</button>
        </div>
      </mat-card>
    </mat-grid-tile>
  }
</mat-grid-list>
