
.categoria-container{
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 99%;
  width: 99%;
  
}

.categoria-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  width: 40%;
}

.categoria-img mat-icon{
  scale: 4;
}

.categoria-content{
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 60%;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  
}

.categoria-content mat-card-title{
  min-width:100px;
  text-align: center;
  font-weight: 500;
  font-size: 1.25rem;
}

.categoria-content button{
  border-radius: 8px;
  width: 5rem;
  flex-shrink: 0;
  min-width: 4rem;
}