@use '@angular/material' as mat;

@include mat.core();

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
    )
  )
);


$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$blue-palette,
    )
  )
);

$cyan-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$cyan-palette,
    )
  )
);

$green-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$green-palette,
    )
  )
);

$yellow-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$yellow-palette,
    )
  )
);

html {

  @include mat.core-theme($dark-theme);
  @include mat.all-component-themes($dark-theme);
  
  .error-button {
    @include mat.button-color($light-theme, $color-variant: error);
  }

  .in-light-theme {
    @include mat.all-component-colors($light-theme);
  }
                                           
}

html, body { 
  height: 100%;

  .toolbar-light {
    background-color: mat.get-theme-color($light-theme, background);
    color: mat.get-theme-color($dark-theme, surface);
  }

  .background-light{
    background-color: mat.get-theme-color($light-theme, background);
  }

  .title{
    color: mat.get-theme-color($dark-theme, on-primary-fixed-variant);
  }

  .primary-color {
    color: mat.get-theme-color($dark-theme, primary);
  }

  .table-container {
    @include mat.table-color($light-theme);

    thead tr{
      background-color: mat.get-theme-color($dark-theme, primary);
    }
  }

  .dialog-container {
    @include mat.dialog-color($dark-theme);
    color: mat.get-theme-color($dark-theme, primary);
  }

  .btn-view {
    @include mat.icon-button-color($cyan-theme, $color-variant: primary);
  }

  .btn-edit {
    @include mat.icon-button-color($yellow-theme, $color-variant: primary);
  }

  .btn-delete {
    @include mat.icon-button-color($cyan-theme, $color-variant: error);
  }
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", "Nerko One","Quicksand", sans-serif;}

